---
title: Home
description: Technical muses of Oliver Gibbs
image: https://source.unsplash.com/LtWFFVi1RXQ/2000x1322?a=.png
bottom_image: https://source.unsplash.com/w7ZyuGYNpRQ/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Make a new friend today</h1>
			<p class="subtext editable">Frisco helps you find new friends with common interests. Search for a new Tennis partner, find a baking side-kick or befriend a new drinking buddy.</p>
			<div class="cta button alt"><a href="#">Blog</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What I Do</h2>
				<p class="editable">Oliver Gibbs is an IT Technical Architect Professional, delivering business outcomes that maximise the efficient use of information technology..</p>
        <p class="editable">Oliver’s background is in Cloud, DevSecOps, infrastructure and virtualisation platforms, networking and security within the retail and banking verticals. His experience within IT delivery spans two decades. He is passionate about Cloud and the opportunities Cloud technologies present to business.</p>
        <p class="editable">Oliver is among a select few that have achieved nine of the eleven AWS Certifications.</p>
        <p class="editable">He also holds TOGAF v9.1 Certified, CISSP and ITILv3 Foundation, and is a member of the Association of Enterprise Architects.</p>
        <p class="editable">His experience within IT delivery spans two decades, and he is passionate about cloud infrastructure and the enablement opportunities cloud technologies present to business.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://about.gibbsie.info/images/it/og-aws-certified-badges-collage.png" alt="Oliver Gibbs holds AWS Certifications." />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
