---
title: Home
description: Technical muses of Oliver Gibbs
image: https://source.unsplash.com/hgGplX3PFBg/2000x1322?a=.png
bottom_image: https://source.unsplash.com/w7ZyuGYNpRQ/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">G'day</h1>
			<p class="subtext editable">Welcome to the random technical musings of Oliver Gibbs.</p>
			<div class="cta button alt"><a href="blog/">Blog</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What I Do</h2>
				<p class="editable">Oliver Gibbs is an IT Technical Professional, delivering outcomes that maximise business value through the efficient use of information technology.</p>
        <p class="editable">Oliver’s background is in Cloud, DevSecOps, infrastructure platforms, networking and security within the retail, banking, financial services and telco verticals. His experience within IT delivery spans two decades. He is passionate about Cloud and the opportunities Cloud technologies present to business.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/cvBBO4PzWPg/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Is AWS Certified</h2>
        <p class="editable">Oliver is among a select few that have achieved nine of the eleven AWS Certifications, has solid infrastructure understanding, software development knowledge and coding experience.</p>
        <p class="editable">Oliver also assists AWS in the development of AWS Certification Examinations by serving as a Subject Matter Expert for the AWS Security Specialty Certification Examination and AWS Advanced Networking Specialty Certification Examination.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/og-aws-certified-badges-collage.png" alt="Oliver Gibbs is AWS Certified." />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">IT Certification</h2>
        <p class="editable">He also holds CISSP, TOGAF v9.1 Certified and ITILv3 Foundation and is a member of the Association of Enterprise Architects.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/bqGBbLq_yfc/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Software Development and Programming</h2>
        <p class="editable">Oliver enjoys the challenge software development presents.</p>
        <p class="editable">For Cloud environments, languages of choice include Golang, node.js and Python for Serverless, Data and Machine Learning applications. In addition, he regularly uses Infrastructure as Code (IaC) using AWS Cloudformation or Hashicorp Terraform HCL.</p>
        <p class="editable">As a hobby, Oliver dabbles with embedded systems or IoT applications and enjoys C and Rust.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/pjTU9Edzc1g/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Experience</h2>
        <p class="subtext editable">His experience within IT delivery spans two decades and he is passionate about cloud infrastructure and the enablement opportunities cloud technologies present to business.</p>
				<div class="cta button alt"><a href="https://www.linkedin.com/in/ogibbs/">Resume / CV</a></div>
			</div>
		</div>
	</section>
</div>
